<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link  rel="stylesheet" href="../style/addcompany.css">
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Open+Sans" rel="stylesheet">
    <title>Add a Job</title>
  </head>
  <header> <h1>Add a Job Opportunity </h1></header>
  <body>
    <form action="/jobs?job=jobTitle&company=Company&location=address&emailinfo=email&payrate=pay&jobdescription=description" method="post">
        <h2>Job Title:</h2>

        <input type="text" name="jobTitle" required>
        <br>

        <h2>Company:</h2>

        <input type="text" name="Company" required>
        <br>

        <h2>Location(Address):</h2>

        <input type="text" name="address" required>
        <br>

        <h2>Contact Email:</h2>

        <input type="text" name="email" required>
        <br>

        <h2>Hourly Pay:</h2>

        <input type="text" name="pay"required>
        <br>

        <h2>Job Description:</h2>

        <textarea rows="4" cols="50" name="description" placeholder="Describe job hours, duties, and any requirements. " required></textarea>
        <br>

        <br>

        <button type="submit" value="submit" onclick="/jobs.html">Submit</button>



    </form>
    <form action="/jobs" method="get">
      <button onclick="/jobs">BACK</button>
    </form>
  </body>
</html>
