<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add A Job</title>
  </head>
  <body>
    <form action="/jobs?job=jobTitle&company=Company&location=address&emailinfo=email&payrate=pay&jobdescription=description" method="post">
        Job Title:
        <br>
        <input type="text" name="jobTitle" required>
        <br>

        Company:
        <br>
        <input type="text" name="Company" required>
        <br>

        Location(Address):
        <br>
        <input type="text" name="address" required>
        <br>

        Contact Email:
        <br>
        <input type="text" name="email" required>
        <br>

        Hourly Pay:
        <br>
        <input type="text" name="pay"required>
        <br>

        Job Description:
        <br>
        <textarea rows="4" cols="50" name="description" placeholder="Describe job hours, duties, and any requirements. " required></textarea>
        <br>

        Select any that apply:
        <br>
        <input type="checkbox" name="Internship" value="Internship">Internship<br>
        <input type="checkbox" name="Full Time" value="Full Time">Full Time<br>
        <input type="checkbox" name="Part Time" value="Part Time">Part Time<br>

        <button type="submit" value="submit">Submit</button>


    </form>
  </body>
</html>
