<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../style/educationandjobs.css">
  <title>Education</title>
</head>

<body>

  <form action="/" method="get">
    <button onclick="/">BACK</button>
    <div class="title">
      <div class="container">
        <h1 class="display-4">Educational and Academic Programs</h1>
        <p class="lead">Find educational opportunities and programs to add to your resume.</p>
      </div>
    </div>


  </form>
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="../style/gwclogo.png" alt="gwclogo">

    <h5 class="card-title">Girls Who Code</h5>
    <h6 class="card-text">Internships/Jobs/Summer Immersion Program<h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="Website"> https://girlswhocode.com/</a>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="../style/klossy.png" alt="klossylogo">
      <h5 class="card-title">Kode with Klossy</h5>
      <h6 class="card-text">Internships/Coding/High School<h6>
      <p class="card-text">Coding program for high school girls. Available throughout the United States. Networking opportunity.</p>
      <a href="#" class="Website">https://girlswhocode.com/</a>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="../style/writing2.jpeg" alt="writinglogo">

      <h5 class="card-title">Creative Writing Workshop</h5>
      <h6 class="card-text">Writing/Jobs/Youth<h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="Website"> example.com</a>
      <footer>
        <img src="../style/blueLOGO.png" alt="logo" style="width:280px;height:120px;">
      </footer>
</body>

</html>
