<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Teen Hacks</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <header>
      name
    </header>
  </head>
  <body>
    YEE

    <form action="/jobs" method="get">
        <<button type="button" class="btn btn-outline-light">Jobs</button>
    </form>
    <form action="/edu" method="get">
        <button type="button" class="btn btn-outline-light">Education</button>
    </form>
    <form action="/resources" method="get">
        <button type="button" class="btn btn-outline-light">Resources</button>
    </form>
  </body>
</html>
