<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Teen Hacks</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../style/index.css">
  <link href="https://fonts.googleapis.com/css?family=Advent+Pro" rel="stylesheet">
</head>

<header>
<img src="../style/LOGO.png" alt="logo"style="width:700px;height:300px;">
</header>

<body>
  <div class="indexButtons">
    <form action="/jobs" method="get">
    <button onclick="/">Jobs</button>
    </form>

    <form action="/edu" method="get">
      <button onclick="/edu">Education</button>
    </form>

    <form action="/resources" method="get">
      <button onclick="/resources">Resources</button>
    </form>
  </div>
</body>

</html>
