<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../style/educationandjobs.css">
  <title>Jobs & Opportunities</title>

</head>

<body>
  <div class="button">
    <form action="/" method="get">
      <button onclick="/">BACK</button>
    </form>
  </div>
  <div class="title">
    <div class="container">
      <h1 class="display-4">Jobs & Opportunities</h1>
      <p class="lead">Find jobs that openly support undocumented immigrants.</p>
    </div>
  </div>
  <div class="addJob">
    <form action="/addJob" method="get">
      <button onclick="/addJob">Add A Job</button>
    </form>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="../style/gwclogo.png" alt="gwclogo">
    <h5 class="card-title">Girls Who Code</h5>
    <h6 class="card-text">Internships/Jobs/Summer Immersion Program<h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="../style/uberlogo.png" alt="uberlogo">
      <h5 class="card-title">Uber</h5>
      <h6 class="card-text">Jobs<h6>
      <p class="card-text">Drive people to their destinations and earn money. Flexible hours and great opportunities.</p>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="../style/lyftlogo.png" alt="lyftlogo">
      <h5 class="card-title">Lyft</h5>
      <h6 class="card-text">Jobs<h6>
      <p class="card-text">Drive people to their destinations and earn money. Flexible hours and great opportunities.</p>
  </div>
  <!-- {{jobTitle}}
  {{companyName}}
  {{location}}
  {{email}}
  {{pay}}
  {{description}} -->
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="../style/" alt="">
        <h5 class="card-title">{{companyName}}</h5>
        <h6 class="card-text">{{jobTitle}}<h6>
        <p class="card-text">{{description}}</p>
    </div>


</body>

</html>
