<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style/resources.css">
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Open+Sans" rel="stylesheet">
    <title>Resources</title>
  </head>
  <body>
    <form action="/" method="get">
        <button onclick="/">back</button>
    </form>
    <h3><center>Resources<center></h3>
<div class="grid-container">
  <div class="item1"><h1>KIND</h1></div>
  <div class="item2"><h1>Gibson Dunn<h1></div>
  <div class="item3"><h1>Law firm example<h1></div>
  <div class="item4"><h1>Fund for<h1></div>

  <div class="item5" id="Rtext"><h2>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil  </h2></div>
  <div class="item6" id="Rtext"><h2>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil </h2></div>
  <div class="item7" id="Rtext"><h2>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil  </h2></div>
  <div class="item8" id="Rtext"><h2>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil  </h2></div>
</div>

  </body>
</html>
