<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Resources</title>
  </head>
  <body>

    howdy
    <form action="/" method="get">
        <button onclick="/">back</button>
    </form>
    <h1><center>Resources<center></h1>
<div class="grid-container">
  <div class="item1">KIND</div>
  <div class="item2">Gibson Dunn</div>
  <div class="item3">other stuff</div>
  <div class="item4">idk</div>
  <div class="item5" id="Rtext">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
  <div class="item6" id="Rtext">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
  <div class="item7" id="Rtext">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
  <div class="item8" id="Rtext">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
</div>

  </body>
</html>
