
h1{
font-family: 'Advent Pro', sans-serif;
}
h2{
font-family: 'Open Sans', sans-serif;
font-size: 18px;
}
h3{

<<<<<<< HEAD
}

#grid-container {
display: grid;
grid-auto-columns: 50px;
grid-gap: 10px;
padding: 10px;
=======
>>>>>>> 60714f222b7dcad5a1d6aaf4d54cd1dedc1603eb
}
#grid-container> {
text-align: center;
padding:20px 0;}
