body {
  background-color: #F2F5EA;
}

button:hover {
  background-color: #F2F5EA;
  color: #4876A8;
}

button {
  width: 150px;
  padding: 20px 15px;
  background-color: transparent;
  color: #F2F5EA;
  border: none;
  display: inline-block;

}
.addJob{
  font-size: 20px;
  padding: 15px 15px;
  float: right;
  font-family: 'Advent Pro', sans-serif;


}
.title{
  /* background-color: #CADBC8; */
  background-image: url("background.png");
  color: #F2F5EA;
  padding-top: 80px;
  padding-bottom: 80px;

}

h1 {
  font-family: 'Advent Pro', sans-serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

button {
  padding: 10px 15px;
  background-color: #4876A8;
  font-family: 'Advent Pro', sans-serif;
  margin-left: 10px;
  margin-right: 30px;
  font-size: 30px;


}

.button {
  /* marginleft:none; */
  /* margin-right: 30px; */

}

.card-img-top {
  height: 160px;
  width: 290px;
}

.card {
  vertical-align: top;
  height: 400px;
  width: 290px;
  /* margin: 4px 2px; */
  padding: 10px 15px;
  border: 1px grey;
  display: inline-block;
  margin: 20px 15px;
  border-radius: 15px;
}

#poop{
  border-radius: 15px;

}
