body{
  background-color: #F2F5EA;

}
button:hover{
  background-color:#4876A8;
  color:#F2F5EA;
}

button{
  width:150px;
  padding: 20px 15px;
  background-color: transparent;
  color:#4876A8;
  display:inline-block;
  border:none;
}
.jumbotronJumbotron-fluid{
  background-color: #F2F5EA;
  color: #4876A8;
  padding-top:80px;
  padding-bottom: 80px;

}
h1{
font-family: 'Advent Pro', sans-serif;
}
h2{
font-family: 'Open Sans', sans-serif;
font-size: 18px;
}
button{
  padding:10px 15px;
  font-family:'Open Sans', sans-serif;
}
.button{
  display:inline-block;
}
.card-img-top{
  height:160px;
  width:290px;
}
.card{
  height:400px;
  width: 290px;
  /* margin: 4px 2px; */
  padding:10px 15px;
  border: 1px grey;
  display: inline-block;
}
