body {
  background-color: #91A7BF;
}

h1 {
  font-family: 'Advent Pro', sans-serif;
}

body {
  background-image: url("background.png");
  background-repeat: no-repeat;
}

header {
  font-family: 'Advent Pro', sans-serif;
  font-size: 100px;
  font-size: 130px;
  color: white;
  text-align: center;
}

#bio {
  font-size: 25px;
}

button:hover {
  background-color: #F2F5EA;
  color: #4876A8;
}

button {
  width:20em;
  /* padding: 40px 70px; */
  height: 130px;
  width: 680px;
  background-color: transparent;
  display: inline-block;
  border-radius: 15px;
  margin-bottom: 20px;
  font-size: 35px;
  font-family: 'Advent Pro', sans-serif;
  font-weight: normal;
  color: #F2F5EA;

}

.container {
  width:100%;
  text-align:center;

}
.ibutton{
  display: inline-block;
}
