button{
  background-color: #C8d7db; /* Green */
  width: 200px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 28px;
}
body{
  background-color: #F2F5EA;
}
h3{  font-size: 50px;
  font-family: 'Advent Pro', sans-serif;}
h1{
  font-size: 30px;
  font-family: 'Advent Pro', sans-serif;
}
h2{
  font-size:18px;
  font-family: 'Open Sans', sans-serif;
}
.Rtext{
  font-size: 10px;
}

button:hover{
  background-color: #C8d7db;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 100px 300px;
  grid-gap: 50px;
  background-color: #CADBC8;
  padding: 20px;
}
.grid-container>div {
  background-color:#F2F5EA;
  text-align: center;
  padding:20px 0;
  font-size: 30px;
}
