button{
  background-color: #5c4682; /* Green */
  width: 200px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 28px;
}

h1{
  font-size: 30px;
}
.Rtext{
  font-size: 10px;
}

button:hover{
  background-color: #685982;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 100px 300px;
  grid-gap: 50px;
  background-color: #685982;
  padding: 20px;
}
.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding:20px 0;
  font-size: 30px;
}
